<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!  V1.7-gui
  </h1>

</div>
<div class="glownyKontener">
  <nav id="przyciskiMenu">
    <a routerLink="zgloszenia">Zgłoszenia</a>
    <!--<a [routerLink]="[{outlets:{adm:['administracja']}}]">Administracja</a> przyklad na wiecej niż jeden outlet-->
    <a routerLink="administracja">Administracja</a>
  </nav>
  <router-outlet></router-outlet>
  <!--<div>-->
    <!--<router-outlet name="adm"></router-outlet>-->
  <!--</div>-->
</div>
