<div>
  <h1>Zgloszenie ALFA</h1>
  <br/>
  <form (ngSubmit)="zapisZgloszenieAlfa()">
    <div class="form-group">
      <label for="name">Imię pacjenta</label> <input type="text"
                                                     class="form-control" id="name" placeholder="wprowadz imię"
                                                     (input)="zgloszenieAlfa.pacjent.daneOsobowe.imie = $event.target.value" name="name">
    </div>
    <div class="form-group">
      <label for="age">Wiek pacjenta</label> <input type="number"
                                                    class="form-control" id="age" placeholder="wprowadź wiek"
                                                    (input)="zgloszenieAlfa.pacjent.wiek = $event.target.value" name="age">
    </div>
    <div class="form-group">
      <label for="name">Nazwisko pacjenta</label> <input type="text"
                                                         class="form-control" id="surname" placeholder="wprowadz imie"
                                                         (input)="zgloszenieAlfa.pacjent.daneOsobowe.nazwisko = $event.target.value" name="surname">
    </div>

    <div class="form-group">
      <label for="birth">Data urodzenia</label> <input type="date"
                                                       class="form-control" id="birth"
                                                       placeholder="wprowadź datę urodzenia"
                                                       (input)="zgloszenieAlfa.pacjent.dataUrodzenia = $event.target.value" name="birth">
    </div>

    <div class="form-group">
      <label for="sicknes">Choroba</label> <input type="text"
                                                  class="form-control" id="sicknes" placeholder="nazwa choroby"
                                                  (input)="zgloszenieAlfa.choroba[0].nazwa = $event.target.value"
                                                  name="sicknes">
    </div>
    <div class="form-group">
      <label for="dateSick">Data wystąpienia choroby</label> <input type="date"
                                                                    class="form-control" id="dateSick"
                                                                    placeholder="wprowadź datę wystąpienia choroby"
                                                                    (input)="zgloszenieAlfa.choroba[0].dataWystapienia = $event.target.value"
                                                                    name="dateSick">
    </div>
    <button type="submit" class="btn btn-default">Zapisz zgłoszenie</button>
  </form>

</div>
